################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Log
/Data
/NewLife.School/bin/Debug
/NewLife.School/obj/Debug
*.config
/NewLife.School.Web/bin
/NewLife.School.Web/Content
/NewLife.School.Web/obj/Debug
/NewLife.School.Web/Plugins
/packages
*.log
*.user
/NewLife.School/bin/Release
/NewLife.School/obj/Release
/NewLife.School.Web/obj/Release
/Test/bin/Release
/Test/obj/Release
/TestBin
